.navbar {
  padding: 20px 0;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-list {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
}

.navbar-btn {
  background: #ffda3a;
  border-radius: 8px;
  width: 160px;
  height: 40px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  border: none;
  cursor: pointer;
}

.navbar-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #333333;
}
